@charset "UTF-8";

// set up variables

$text-main: "Montserrat", sans-serif;
$text-secondary: "Barlow Condensed", sans-serif;
$text-accent: "Caveat", cursive;

$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 900;

$fs-base: 16px;
$fs-header-sm: 44px;
$fs-header-md: 38px;
$fs-header-lg: 60px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;
$px-XXXL: 48px;

$color-main: #000000;
$color-bg: #ffffff;
$color-accent-1: #541c89;
$color-accent-2: #75c7ca;
$color-accent-3: #7851a9;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

$transition: all 0.3s ease-in-out;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-bg;
  background-color: $color-accent-1;
  max-width: 990px;
  margin: auto;

  ::selection {
    background-color: $color-accent-2;
    color: #fff;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-section-title {
    font-family: $text-secondary;
    font-size: $fs-header-sm;
    font-weight: $fw-extrabold;
    text-align: center;
    text-transform: uppercase;
    text-wrap: balance;
    margin-block: $px-XXXL;
  }

  .es-background-text {
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .es-kv {
    .es-section-title {
      margin-block: 0;
    }
    &__left {
      padding: $px-L;
      display: flex;
      flex-direction: column;
      gap: $px-L;
      align-items: center;
    }
    &__logo {
      max-width: 350px;
    }
    &__description {
      text-transform: uppercase;
      font-weight: $fw-extrabold;
      font-size: calc(1.2 * $fs-base);
      text-align: center;
    }
    &__item {
      display: flex;
      align-items: center;
      gap: $px-S;
      &--check {
        max-width: 30px;
        margin: unset;
      }
      &--desc {
        font-family: $text-accent;
        font-size: calc(2 * $fs-base);
      }
    }
    &__12h {
      margin: 32px 32px -32px 32px;
      img {
        margin: unset;
        max-width: 100px;
      }
    }
    &__photo {
      padding: $px-L;
    }
    @media (min-width: $media-breakpoint-sm) {
      &__right {
        display: flex;
        padding: $px-L;
        gap: $px-L;
        position: relative;
      }
      &__12h {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: $px-M;
      }
      &__photo {
        padding: unset;
      }
    }
    @media (min-width: $media-breakpoint-md) {
      display: flex;
      .es-section-title {
        width: max-content;
        text-align: left;
        align-self: flex-start;
      }
      &__left {
        width: 40%;
        margin-right: -1%;
      }
      &__right {
        width: 60%;
        padding: unset;
      }
      &__logo {
        max-width: 200px;
      }
      &__description {
        font-size: $fs-base;
        text-wrap: balance;
      }
      &__item {
        &--desc {
          font-size: calc(1.6 * $fs-base);
          min-width: max-content;
        }
      }
      &__12h {
        bottom: 10%;
        margin: 0;
        left: 4%;
        img {
          max-width: 75px;
        }
      }
      &__photo {
        padding: $px-L $px-L 0 0;
      }
    }
    @media (min-width: 850px) {
      &__12h {
        bottom: 6%;
        left: 2%;
      }
    }
    @media (min-width: 860px) {
      &__12h {
        left: -2%;
      }
    }
  }

  .es-colors {
    &__slide {
      &--2 {
        padding: $px-L;
      }
    }
    &__ctn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &--2 {
        gap: $px-L;
      }
    }
    &__item {
      flex: 1 1 0;
      min-width: 140px;
      max-width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-M;
      padding: $px-XXL $px-S;
      &--image {
        width: 100%;
        transition: $transition;
        &:hover {
          scale: 1.1;
        }
      }
      &--number {
        font-size: calc(2 * $fs-base);
        font-weight: $fw-extrabold;
      }
      &--name {
        font-size: calc(2 * $fs-base);
        text-align: center;
        font-family: $text-accent;
        color: $color-main;
        font-weight: $fw-bold;
        text-wrap: balance;
      }
      &--gradient-box {
        display: none;
      }
    }
    &__pack {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: $px-M;
      &--text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $px-M;
        max-width: 300px;
        text-wrap: balance;
      }
      &--name {
        font-family: $text-accent;
        font-size: calc($fs-base * 2.1);
        font-weight: $fw-bold;
        line-height: 1;
      }
    }
    @media (min-width: $media-breakpoint-sm) {
      &__item {
        max-width: 33%;
      }
      &__ctn {
        &--2 {
          gap: $px-XXXL;
        }
      }
      &__pack {
        position: relative;
        &--text {
          position: absolute;
          bottom: -5%;
          max-width: 275px;
          &--1 {
            right: 0;
          }
          &--2 {
            left: 0;
          }
        }
      }
    }
    @media (min-width: $media-breakpoint-md) {
      &__item {
        width: 11%;
        min-width: unset;
        max-width: unset;
        &--number {
          font-size: calc(1.2 * $fs-base);
        }
        &--name {
          font-size: calc(1.1 * $fs-base);
        }
        &--box {
          position: relative;
        }
        &--gradient-box {
          display: block;
          position: absolute;
          top: -22px;
          left: 50%;
          padding: 1px;
          width: 93%;
          transform: translateX(-50%);
          border-radius: 4px;
          background: linear-gradient(
            222deg,
            rgba(255, 253, 253, 1) 0%,
            rgba(175, 173, 173, 1) 100%
          );
        }
        &--gradient-inner {
          background-color: $color-accent-3;
          padding: 8px 4px;
          border-radius: 4px;
          position: relative;
        }
        &--gradient-text {
          font-weight: $fw-bold;
          text-align: center;
          text-transform: uppercase;
          font-size: 60%;
        }
        &--gradient-stars {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 82%;
          height: 82%;
          margin-block: auto;
        }
      }
    }
    @media (min-width: $media-breakpoint-lg) {
      &__ctn {
        &--2 {
          flex-direction: row;
          margin-top: -100px;
          margin-bottom: 50px;
        }
      }
      &__pack {
        flex: 1 1 0;
        &--image img {
          max-width: 350px;
        }
        &--text {
          display: grid;
          grid-template-rows: 70px 80px;
          align-items: self-start;
          max-width: 250px;
          &--1 {
            right: -9%;
            bottom: -25%;
          }
          &--2 {
            left: -9%;
            bottom: -25%;
            .es-colors__pack--name {
              max-width: 200px;
              margin: auto;
            }
          }
        }
      }
    }
  }

  .swiper-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin: auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    cursor: pointer;
    color: $color-bg;
    position: unset;
    margin: unset;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after,
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    font-size: 16px;
  }

  .swiper-pagination {
    flex: 1;
    display: flex;
    justify-content: center;
    position: unset;
  }

  .swiper-pagination-bullet-active {
    background: $color-bg;
  }

  /* Hide Swiper controls on mobile */
  @media (max-width: 991px) {
    #esColorsSwiper .swiper-wrapper {
      display: block !important;
      transform: none !important;
      width: 100% !important;
    }

    #esColorsSwiper .swiper-slide {
      width: 100% !important;
      margin-bottom: 2rem;
      display: block;
    }
    .swiper-controls {
      display: none;
    }
  }

  /* Optional spacing when Swiper is disabled on mobile */
  .swiper-wrapper.swiper-no-swiping {
    display: block;
  }
  .swiper-wrapper.swiper-no-swiping > .swiper-slide {
    width: 100% !important;
    margin-bottom: 2rem;
  }

  .es-features {
    &__ctn {
      padding-inline: $px-L;
    }
    &__left {
      display: flex;
      flex-direction: column;
      gap: $px-L;
      align-items: center;
      padding: $px-XL;
      position: relative;
      z-index: 0;
      &--image {
        transition: $transition;
        &:hover {
          scale: 1.05;
        }
      }
      &--bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: -1;
      }
      &--text {
        font-family: $text-secondary;
        text-transform: uppercase;
        font-weight: $fw-extrabold;
        font-size: calc(2.2 * $fs-base);
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      gap: $px-L;
      align-items: center;
      padding: $px-XL;
      &--text {
        font-family: $text-accent;
        font-weight: $fw-bold;
        font-size: calc(2.2 * $fs-base);
      }
      &--vegan {
        max-width: 350px;
      }
    }
    @media (min-width: $media-breakpoint-sm) {
      &__left {
        flex-direction: row;
        justify-content: center;
        &--bg {
          top: -39%;
          left: -24px;
        }
      }
    }
    @media (min-width: $media-breakpoint-md) {
      &__ctn {
        display: flex;
        align-items: center;
        gap: $px-L;
        padding-inline: $px-XXL;
      }
      &__left {
        padding: 0;
        width: 60%;
        &--image {
          max-width: 175px;
        }
        &--bg {
          top: -77%;
          left: -6%;
          width: 123%;
        }
      }
      &__right {
        padding: 0;
        width: 40%;
        gap: $px-M;
        &--vegan {
          max-width: 250px;
        }
      }
    }
    @media (min-width: $media-breakpoint-lg) {
      &__left {
        &--bg {
          top: -87%;
          left: -1%;
          width: 118%;
        }
      }
    }
  }

  .es-routine {
    padding: $px-L;
    &__ctn {
      display: flex;
      flex-direction: column;
      gap: $px-L;
      align-items: center;
    }
    &__item {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-XL;
      max-width: 230px;
      &--img {
        margin-right: -7%;
      }
      &--text {
        text-align: center;
      }
      &--name {
        font-weight: $fw-extrabold;
        font-size: calc(1.2 * $fs-base);
        text-transform: uppercase;
      }
      &--description {
        font-family: $text-accent;
        font-weight: $fw-bold;
        font-size: calc(2.1 * $fs-base);
        margin-top: $px-S;
      }
    }
    @media (min-width: $media-breakpoint-md) {
      &__ctn {
        flex-direction: row;
        justify-content: center;
        gap: unset;
        align-items: flex-start;
      }
      &__item {
        &--name {
          font-size: calc(0.8 * $fs-base);
        }
        &--description {
          font-size: calc(1.2 * $fs-base);
        }
      }
    }
  }

  .es-video {
    padding: $px-L;
    &__bg {
      padding: 2px 2px 0 2px;
      border-radius: 10px;
    }
    &__video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    @media (min-width: $media-breakpoint-sm) {
      padding: $px-XXL;
    }
    @media (min-width: $media-breakpoint-md) {
      &__bg {
        width: 80%;
        margin: auto;
      }
    }
  }

  .es-cross {
    .es-section-title {
      margin-bottom: 0;
    }
    padding: $px-L $px-L 0 $px-L;
    &__subtitle {
      text-transform: uppercase;
      font-size: $fs-base;
      font-weight: $fw-extrabold;
      text-align: center;
      text-wrap: balance;
    }
    &__products {
      display: flex;
      flex-direction: column;
      gap: $px-XXL;
      margin-block: $px-XXL;
    }
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $px-XL;
      text-align: center;
      text-wrap: balance;
      transition: $transition;
      max-width: 250px;
      margin: auto;
      &:hover .es-cross__item--link {
        background-color: $color-accent-2;
        color: $color-main;
      }
      &--img {
        &-2,
        &-3 {
          width: 80%;
        }
      }
      &--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $px-M;
      }
      &--name {
        font-weight: $fw-extrabold;
        font-size: calc(1.1 * $fs-base);
        text-transform: uppercase;
      }
      &--description {
        font-weight: $fw-semibold;
      }
      &--link {
        background-color: $color-main;
        color: $color-bg;
        font-weight: $fw-extrabold;
        font-size: calc(1.1 * $fs-base);
        text-transform: uppercase;
        text-decoration: none;
        padding-block: $px-M;
        transition: $transition;
        &:hover {
          background-color: $color-accent-2;
          color: $color-main;
        }
      }
    }
    &__hands {
      position: relative;
      &-disclaimer {
        position: absolute;
        bottom: $px-M;
        left: 0;
      }
    }
    @media (min-width: $media-breakpoint-md) {
      &__products {
        flex-direction: row;
        gap: $px-M;
        justify-content: space-around;
        margin-block: $px-XXXL;
      }
      &__item {
        flex: 1 1 0;
        justify-content: flex-end;
        margin: unset;
        &--description {
          height: 175px;
        }
      }
      &__hands {
        &-disclaimer {
          font-size: calc(0.8 * $fs-base);
        }
      }
    }
  }

  .es-footer {
    background-color: $color-main;
    &__logo {
      max-width: 150px;
    }
    @media (min-width: $media-breakpoint-sm) {
      &__logo {
        max-width: 250px;
      }
    }
  }
}
